* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  font-size: 40px;
}

header {
  background-image: url("../images/headerimage.jpg");
	background-attachment: scroll;
  background-position: center;
	background-size: cover;
	padding: 100px 100px 500px 100px;
  text-align: left;
}

/* animation */
.logosection h1 {
  left: 0;
  animation-name: slide;
  animation-duration: 3s;
  border: 5px solid white;
  padding: 20px;
  width: 650px;
  font-size: 100px;
  font-weight: 600;
  text-align: center;
}

@keyframes slide {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.tagline {
  width: 500px;
  padding-top: 20px;
}

.tagline p{
  font-size: 12px;
  padding-top: 5px;
}

/* background gradients */
.orangepink {
  background: linear-gradient(to top right, #fdc260, #e83a9b);
}

.pinkblue {
  background: linear-gradient(to top right, #ffc7cf, #4024f1);
}



/* about section */

#about{
  padding: 50px;
  margin-bottom: 0;
  position: relative;
}

#aboutcopy {
  border: 5px solid white;
  padding: 50px 100px 100px 50px;
  width: 500px;
  display: inline-block;
}

#spotify {
display: inline-block;
position: absolute;
  right: 50px;
}

.about-slider {
  align-content: center;
  margin: 0 auto;
  width: 500px;
  margin-top: -70px;
}

/* show sections */

#Atlanta, #BabyDriver, #Insecure, #PLL {
  padding: 50px;
}


.bordercopy p {
  border: 5px solid white;
  padding: 40px 100px 100px 40px;
  width: 500px;
}

.bordercopy p::first-line {
    font-weight: 600;
  }

.show-copy {
  display: inline-block;
  margin-left: 50px;
}

#Atlanta-podcastimage {
  display: inline-block;
  position: absolute;
  margin-top: 140px;
  margin-left: 100px;
}

#BabyDriver-podcastimage {
  display: inline-block;
position: absolute;
margin-top: 175px;
margin-left: 100px;
}

#Insecure-podcastimage {
  display: inline-block;
  position: absolute;
  margin-top: 190px;
  margin-left: 100px;
}

#PLL-podcastimage {
  display: inline-block;
  position: absolute;
  margin-top: 250px;
  margin-left: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  transition: .5s;
}

.pinkblue .overlay p {
  color: #4024f1;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

.orangepink .overlay p {
  color: #e83a9b;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

#Atlanta-podcastimage:hover .overlay {
  opacity: 1;
}

#BabyDriver-podcastimage:hover .overlay {
  opacity: 1;
}

#Insecure-podcastimage:hover .overlay {
  opacity: 1;
}

#PLL-podcastimage:hover .overlay {
  opacity: 1;
}


/* video sliders */

.fancybox-content video {
  width: 100% !important;
}

.atlanta-slider, .babydriver-slider, .insecure-slider, .PLL-slider {
  align-content: center;
  margin: 0 auto;
  width: 500px;
  margin-top: -70px;
}

video#atlantavideo1, #atlantavideo2, #atlantavideo3, #atlantavideo4, #babydriver1, #babydriver2, #babydriver3, #babydriver4, #babydriver5, #insecurevideo1, #insecurevideo2, #insecurevideo3, #insecurevideo4, #insecurevideo5, #PLLvideo1, #PLLvideo2, #PLLvideo3, #PLLvideo4  {
    display: block !important;
    width: 500px;
    margin: 0 auto;
  }

/* footer */

footer {
  padding: 50px;
}

h2 {
  font-weight: 400;
  font-size: 25px;
}
ul {
  list-style: none;
}

li {
  font-size: 25px;
  padding-bottom: 10px;
}

footer nav a {
  color: white;
  text-decoration: none;
  transition: .3s;
}

footer nav a:hover {
  color: #4024f1;
  transition: .3s;
}

label.label_input_wrap {
  display: block;
}

form#test_form {
  display: inline-block;
  margin-left: 100px;
}

nav.footernav {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}


form {
   width: 50%;
}

label {
  padding-bottom: 10px;
}

input, textarea {
  padding: 10px;
}

.text, .email, .textarea, .submit {
  padding: 10px 0;
}

input[type="submit"] {
  padding: 10px 50px;
  background: white;
  border-radius: 10px;
  color: #4024f1;
  font-size: 20px;
}

input[type="submit"]:hover {
  padding: 10px 50px;
  background: #4024f1;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
